# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Learn
* Understand
* Apply

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn

| Data Science Tools |
|--------------------|
|SQL                 |
|PowerBI             |
|GitGub              |

### Below are a few examples of evaluating arithmetic expressions in Python
- A + B
- A ** B
- ( A + B ) * C

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
m = 200
h = 60
m / h

3.3333333333333335

## Author:
Raghad Alfarhan